.row{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    padding:10px 0;
    border-bottom: 1px solid var(--gray1);
}
.row .icon{
    width: 15px;
}
.row .food{
    width: 50px;
}
.head{
    font-weight: 600;
    background: #fedfd1;
}
