.sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 80vw;
    margin-inline:auto;
}
.sidebar ul{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    gap: 1rem;
}
.sidebar ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border: 1px solid var(--gray1);
    color: var(--black);
}


@media (width <= 500px) {
    .sidebar ul{
        justify-content: start;
        flex-wrap:wrap;
    }
    .sidebar{
        width: 100vw;
    }
    .itemName{
        display: none;
    }
}

.active{
    background-color: var(--orange1);
    border-color: var(--orange2);
}